[project]
	state = active
[accurevConnector]
	uuid = 124ba10f-69d7-4548-8d84-8fe0c4b08472
	accurevAccount = accurev://thanh@localhost:5050
[accurevBranchmap "refs/heads/master"]
	uuid = 6d20c5d3-517c-4d57-a374-be8eab10c05e
	depotId = 1
	streamId = 3
	mountEid = 1
	initialSync = git
[access "refs/for/refs/*"]
	push = block group Registered Users
[access "refs/for/refs/heads/*"]
	pushMerge = group Registered Users
[access "refs/heads/*"]
	push = +force group Registered Users
